# Android specific
*.iml
.gradle/
local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build/
captures/
.externalNativeBuild/

# Firebase specific
google-services.json
GoogleService-Info.plist

# Gradle
.gradle
/build/
/gradle/wrapper/gradle-wrapper.properties
gradle-wrapper.jar

# Kotlin specific
*.class
*.kt~ 
*.kts~ 
*.log
*.jar
*.bin

# IntelliJ/Android Studio specific
.idea/
/*.iml
/out/

# Other
*.exe